.card-title {
  font-size: 1.6em; }

.card {
  margin: 10px;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 
 }

.btcard {
  width: 100%; }


.jumbotron {
  padding-top: 100px;
  
   }

.tab-content {
  padding-top: 10px;
  background: #0EA009; }

footer {
  margin-top: 100px;
 
  padding-top: 20px; }

@media screen and (max-width: 480px) {
  body {
    font-size: 60%; }
  .card-title {
    font-size: 1.5em; }
  .card-body {
    padding: 8px; }
  .firstcol {
    padding: 2px; } }
