$yellow: #fffa19;
$red: #D50000;
$green: #0EA009;

@mixin margenes($top, $botton, $left, $right){
margin-bottom: $botton ; 
margin-top: $top;
margin-left: $left;
margin-right: $right;
}


.card-title{
		font-size: 1.6em;
	}
	.card{
		margin:10px;
		height:100%;
		@include margenes(10px, 10px, auto, auto);
		
		
	}
	.btcard{
		width: 100%;
	}
	nav{
		background:$green; 
	}
	.jumbotron{
		padding-top:100px; 
		
	}
	.tab-content{
		padding-top: 10px;
		background: $green;
	}
	footer{
		margin-top:100px; 
		padding-top:20px; 
	}

	@media screen and (max-width:480px){
		body {
			font-size:60%; 
		} 
		.card-title{
			font-size: 1.5em; 
		}
		.card-body{
		padding:8px; 
		}
		.firstcol{
			padding:2px; 
		}
	}